div {
    background-color: rgb(238, 236, 236);
}

.main-div {
    height: 100%;
    overflow: hidden;
}

header {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
}

.rev {
    color: rgb(201, 98, 61);
}